.icon-shanghuguanli:before {
  content: '\e733';
}

.icon-pinggushenhe:before {
  content: '\e732';
}

.icon-shujubaobiao:before {
  content: '\e734';
}

.icon-paimaihuiguanli:before {
  content: '\e735';
}

.icon-dingdanguanli:before {
  content: '\e736';
}

.icon-paipinguanli:before {
  content: '\e738';
}

.icon-siyupai:before {
  content: '\e731';
}

.icon-zhanghao:before {
  content: '\e737';
}

.icon-fanhui:before {
  content: '\e73a';
}

.icon-yanzhengma:before {
  content: '\e73b';
}
